<% wrap_layout :layout do %>
  <div class="page-banner">
    <p><strong>A DfE Service Manual and its content is intended for internal use by the DfE service community.</strong></p>
  </div>

  <%= yield %>
<% end %>
