---
title: C4 Model
weight: 100
---

# <%= current_page.data.title %>

<ul>
<% sub_pages(current_page.url).each do |resource| %>
	<li><%= link_to resource.data.title, resource.url %></li>
<% end %>
</ul>
