---
title: GOV UK Notify
---

# <%= current_page.data.title %>

## Description
A part of the Common Platform provided by GDS, Notify is a service which can send emails, SMS or postal letters all with the same service.

It enforces the standard GOV UK Email style and formatting but allows the creation and storage of templates to reuse with your communications.

For more details see [the service features][1]

## Contacts

| Method | Link |
|-----|-------|
| **Web** | [https://www.notifications.service.gov.uk/support](https://www.notifications.service.gov.uk/support) |
| **Slack** | [https://app.slack.com/client/T04V6EBTR/C0E1ADVPC](https://app.slack.com/client/T04V6EBTR/C0E1ADVPC) |

## Integration Architecture

**fig 2:** integration diagram

## Capacity Planning

| SLA | measurement |
|------|------|
| **Expected Load Avg** | *n* Emails per day/month, *n* SMS per day/month |
| **Expected Load Max** | *n* Emails per day/month, *n* SMS per day/month |

## Support Model

<table>
  <tr>
      <th>SLA</th>
      <td>24-hour online support</td>
  </tr>
  <tr>
    <th>Triage / Escalation Model</th>
    <td>
      <p><strong>Office hours</strong><br/>
      9:30am to 5:30pm, Monday to Friday.</p>

      <p>Problems reported in office hours can expect reply within one working day.</p>

      <p><strong>Out-of-hours</strong><br/>
      Outside office hours;</p>

      <ul>
          <li>Emergencies can expect reply within 30 minutes and updates every hour until the problem’s fixed.</li>
          <li>None emergencies can expect reply within one working day.</li>
          <li>A problem is only classed as an emergency if you have a live service and:
            <ul>
                <li>nobody on your team can sign in</li>
                <li>a ‘technical difficulties’ error appears when you try to upload a file</li>
                <li>a 500 response code appears when you try to send messages using the API</li>
            </ul>
          </li>
      </ul>
    </td>
  </tr>
</table>

## DevOps Contacts

| Reports | Usage |
|---------|-------|
| **Monitoring** | [https://status.notifications.service.gov.uk](https://status.notifications.service.gov.uk) |
| **Logs** | Logs |
| **Change log** | [https://www.notifications.service.gov.uk/features/roadmap](https://www.notifications.service.gov.uk/features/roadmap) |
| **Incident management** | [https://www.notifications.service.gov.uk/support](https://www.notifications.service.gov.uk/support) |

## Licenses
N/A

## Pricing

| Notification Type | Free Allowance | Additional (Max Price) |
|-------------------|----------------|------------------------|
| **Email** | Unlimited | N/A |
| **SMS Text Message** | 250,000 (per registered service) | 1.58 pence (plus VAT) |
| **Postal Letter** | N/A | 89p + VAT (First Class)<br/>£1.21 + VAT (International) |

For more detailed information please see [the service pricing][2]

## Run Books
- Getting Access
- Adding a new team member to a service
- Manually sending emails to a mailing list
- Rotating API Access keys

## Common / Known Issues

| Issue | Response |
|-------|----------|

## Scheduled / Regular Tasks

| Manual / Automated | Performed By | Task Summary |
|--------------------|--------------|--------------|

[1]: https://www.notifications.service.gov.uk/features
[2]: https://www.notifications.service.gov.uk/pricing
