---
title: Logit.io
weight: 40
---

# <%= current_page.data.title %>

## Description
A SaaS service providing a managed ELK (Elastic search, Logstash and Kibana) Stack configured, upgraded and maintained to be scalable to high volumes of log records. The ELK Stack is an open-source stack frequently used for log aggregation and visualisation.

## Contacts

| Method | Link |
|-----|-------|
| **Web** | [https://help.logit.io/en](https://help.logit.io/en) |
| **Email** | [sales@logit.io](mailto:sales@logit.io) |
| **Twitter** | [@logit_io](https://twitter.com/logit_io) |


## Integration Architecture

|    |
|----|
|    |

## Capacity Planning

| SLA | measurement |
|------|------|
| **Expected Load Avg** | 0.4GB Volume per day |
| **Expected Load Max** | 2GB Volume per day |
| **Log retention** | 14 days |

## Support Model

<table>
  <tr>
      <th>SLA</th>
      <td>24-hour platform level support</td>
  </tr>
  <tr>
    <th>Triage / Escalation Model</th>
    <td>Email is monitoreed 24/7</td>
  </tr>
</table>

## DevOps Contacts

| Reports | Usage |
|---------|-------|
| **Monitoring** | [https://status.logit.io](https://status.logit.io) |
| **Change log** | N/A |
| **Incident management** | [https://help.logit.io/en](https://help.logit.io/en) |

## Licenses
The contract is Managed by Teacher Services Enabling Function and Managed through the Digital Tools Team.

## Pricing
$109.00 (+ VAT) per month

For more detailed information please see [the service pricing](https://logit.io/pricing).

## Run Books
- Getting Access
- Adding a new team member to a service
- Rotating API access keys
- Debugging logs with Kibana

## Common / Known Issues

| Issue | Response |
|-------|----------|
| Throughput is rate limited to the contracted limit so any logs exceeding the contracted data limit will block new logs. This could lead to the situation where access to the logs needed to analyse an incident are never captured. | Regular reviews of usage peaks will need to be carried out to ensure that the logging rate is not exceeded and the contract increased when needed. |

## Scheduled / Regular Tasks

| Manual / Automated | Performed By | Task Summary |
|--------------------|--------------|--------------|
